// colors
$ghost-white: #fcfdff;
$go-to-gray: #eeeeee;
$light-gray-blue: #dae4eb;
$dark-gray-blue: #58585b;
$smoky-black: #4c4e4d;
$ms-dark-blue: #003399;
$millenial-pink: #ff9e99;
$ms-border-blue: #73abec;
$success: #41e1b5;
$warning: #ffb94a;
$error: #ff806f;

// cc map
$colors: (
  default: (
    bg: $ghost-white,
    txt: $smoky-black,
    primary: $ms-dark-blue,
    secondary: $millenial-pink,
    border: $light-gray-blue,
    card: $ms-border-blue,
    shadow: $smoky-black,
    overlay: $dark-gray-blue,
    selection: rgba($dark-gray-blue, 0.33),
    btn: $ms-border-blue,
    success: $success,
    warning: $warning,
    error: $error
  ),
  alt: (
    txt: $dark-gray-blue,
    bg: $go-to-gray,
    border: $dark-gray-blue
  ),
  inv: (
    txt: $ghost-white
  )
);
