@mixin fluid-type(
  $min-font-size: 12px,
  $max-font-size: 21px,
  $lower-range: 420px,
  $upper-range: 1024px
) {
  font-size: calc(
    #{$min-font-size} + #{(
        ($max-font-size / ($max-font-size * 0 + 1)) -
          ($min-font-size / ($min-font-size * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size;
  }
}
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin navigation {
  width: 100%;
  position: fixed;
  height: 4em;
}
@mixin navLinks {
  ul {
    @include flexCenter;
  }
  li p {
    @include fluid-type(12px, 16px);
  }
  ul li a {
    text-decoration: none;
  }
  li a.active {
    color: cc(bg);
    border-bottom: 2px solid cc(secondary);
    font-weight: 700;
  }
  li a:hover {
    cursor: pointer;
    color: cc(secondary);
    border-bottom: 2px solid cc(secondary);
  }
}
@mixin popupShadow {
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}
@mixin boxShadow {
  box-shadow: 5px 5px 6px 0 rgba(50, 50, 93, 0.1),
    5px 4px 5px 0 rgba(0, 0, 0, 0.07);
}
@mixin boxShadowInset {
  box-shadow: inset 3px 3px 3px 0 rgba(50, 50, 93, 0.1),
    inset 0px -3px 11px 0px rgba(0, 0, 0, 0.07);
}
